---
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Blog from "../components/Blog.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to JKDELARA.">
	<Header />
	<main class="h-full relative">
		<section
			class="flex border-t border-black py-12 text-xs md:text-normal"
		>
			<Socials />
			<Experience />
		</section>
		<section class="flex border-t border-black">
			<Projects />
		</section>

		<section class="flex border-t border-black">
			<Blog />
		</section>
	</main>

	<Footer />
</Layout>
