---
import Header from "../components/Header.astro";
import SocialItem from "../components/SocialItem.astro";
import Layout from "../layouts/Layout.astro";

const notes = await Astro.glob("../pages/note/*.md");
---

<Layout title="Welcome to JKDELARA.">
	<Header />
	<main class="h-full relative">
		<section
			class="flex border-t border-black py-12 text-xs md:text-normal"
		>
			<ul
				class="min-w-[27vw] text-right flex flex-col gap-4 pr-4 md:pr-8"
			>
				<SocialItem
					social="Twitter"
					link="https://twitter.com/json_delara"
				/>
				<SocialItem
					social="Instagram"
					link="https://instagram.com/jkbro"
				/>
				<SocialItem social="GitHub" link="https://github.com/xjkbro" />
				<SocialItem
					social="LinkedIn"
					link="https://linkedin.com/in/jkdelara"
				/>
				<SocialItem
					social="Resume"
					link="https://linkedin.com/in/jkdelara"
				/>
			</ul>
			<ul class="w-fit pl-4 md:pl-8 flex flex-col gap-4">
				<li class="flex flex-col">
					<span>Web Developer</span><span>ICP DAS USA</span>
				</li>
				<li class="flex flex-col">
					<span>Front End Web Developer Intern</span><span
						>RoyaltyBusayo</span
					>
				</li>
				<li class="flex flex-col">
					<span>Bachelors of Science - Computer Science</span><span
						>University of Nevada Las Vegas</span
					>
				</li>
			</ul>
		</section>
		<section class="flex border-t border-black">
			<div class="min-w-[27vw] h-96 text-right">
				<h2 class="text-2xl mt-4 mr-4 md:text-5xl md:mt-12 md:mr-12">
					LATEST
				</h2>
			</div>
			<div
				class="relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto py-4"
			>
				<div class="snap-center shrink-0">
					<div class="shrink-0 w-4 sm:w-96"></div>
				</div>
				<div class="snap-center shrink-0">
					<img
						class="shrink-0 object-cover aspect-video h-96"
						src="https://images.unsplash.com/photo-1604999565976-8913ad2ddb7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
					/>
				</div>
				<div class="snap-center shrink-0">
					<img
						class="shrink-0 object-cover aspect-video h-96"
						src="https://images.unsplash.com/photo-1540206351-d6465b3ac5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
					/>
				</div>
				<div class="snap-center shrink-0">
					<img
						class="shrink-0 object-cover aspect-video h-96"
						src="https://images.unsplash.com/photo-1622890806166-111d7f6c7c97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
					/>
				</div>
				<div class="snap-center shrink-0">
					<img
						class="shrink-0 object-cover aspect-video h-96"
						src="https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
					/>
				</div>
				<div class="snap-center shrink-0">
					<img
						class="shrink-0 object-cover aspect-video h-96"
						src="https://images.unsplash.com/photo-1575424909138-46b05e5919ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
					/>
				</div>
				<div class="snap-center shrink-0">
					<img
						class="shrink-0 object-cover aspect-video h-96"
						src="https://images.unsplash.com/photo-1559333086-b0a56225a93c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
					/>
				</div>
				<div class="snap-center shrink-0">
					<div class="shrink-0 w-4 sm:w-96"></div>
				</div>
			</div>
		</section>

		<section class="flex border-t border-black">
			<div class="min-w-[27vw] text-right">
				<h2 class="text-2xl mt-4 mr-4 md:text-5xl md:mt-12 md:mr-12">
					NOTES
				</h2>
			</div>
			<ul class="w-fit min-h-[12rem] pl-8 flex flex-col gap-2 mt-4">
				{
					notes.map((note) => (
						<li class="underline">
							<a href={`/note/${note.frontmatter.slug}`}>
								{note.frontmatter.title}
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>

	<footer class="h-full relative py-12 border-t border-black">
		<div
			class="grid grid-cols-11 px-2 md:px-8 w-full absolute pointer-events-none top-0 left-0 h-full"
		>
			<div class="block md:hidden col-span-3"></div>
			<div
				class="col-span-8 md:col-span-3 text-right text-xs md:text-normal pr-12 pt-12"
			>
				Jason-Kyle De Lara &copy; {new Date().getFullYear()}
			</div>
		</div>
	</footer>
</Layout>
