---
import SocialItem from "../components/SocialItem.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

const notes = await Astro.glob("../pages/note/*.md");
---

<Layout title="Welcome to JKDELARA.">
	<header class="h-full relative pb-32 md:pb-48 lg:pb-72">
		<div
			class="grid grid-cols-8 px-2 md:px-8 w-full absolute pointer-events-none top-0 left-0 h-full"
		>
			<div class="col-span-2 border-r border-r-black"></div>
			<div class="col-span-6"></div>
		</div>
		<Title title="JKDELARA" />
	</header>
	<main class="h-full relative">
		<div
			class="grid grid-cols-8 px-2 md:px-8 w-full absolute pointer-events-none top-0 left-0 h-full"
		>
			<div class="col-span-2 border-r border-r-black"></div>
			<div class="col-span-6"></div>
		</div>
		<section
			class="grid grid-cols-8 border-t border-b border-black py-12 text-sm"
		>
			<ul class="col-span-2 text-right flex flex-col gap-4">
				<SocialItem
					social="Twitter"
					link="https://twitter.com/json_delara"
				/>
				<SocialItem
					social="Instagram"
					link="https://instagram.com/jkbro"
				/>
				<SocialItem social="GitHub" link="https://github.com/xjkbro" />
				<SocialItem
					social="LinkedIn"
					link="https://linkedin.com/in/jkdelara"
				/>
				<SocialItem
					social="Resume"
					link="https://linkedin.com/in/jkdelara"
				/>
			</ul>
			<ul class="col-span-6 ml-8 flex flex-col gap-4">
				<li class="flex flex-col">
					<span>Web Developer</span><span>ICP DAS USA</span>
				</li>
				<li class="flex flex-col">
					<span>Front End Web Developer Intern</span><span
						>RoyaltyBusayo</span
					>
				</li>
				<li class="flex flex-col">
					<span>Bachelors of Science - Computer Science</span><span
						>University of Nevada Las Vegas</span
					>
				</li>
			</ul>
		</section>
		<section
			class="grid grid-cols-8 border-black overflow-hidden relative h-full py-12"
		>
			<div class="col-span-2 text-right">
				<h2 class="text-2xl md:text-5xl mb-24">LATEST</h2>
				<h3 class="">Project</h3>
			</div>
			<!-- <div
				class="w-24 md:w-96 h-full bg-gradient-to-r from-transparent to-white absolute pointer-events-none z-10 right-0"
			>
			</div> -->
			<div
				class="col-span-6 ml-8 flex flex-col justify-between items-stretch gap-8"
			>
				<div class="flex gap-2">
					<span
						class="rounded-full bg-slate-100 w-12 h-12 justify-center items-center flex cursor-pointer font-black"
						>＜</span
					>
					<span
						class="rounded-full bg-slate-100 w-12 h-12 justify-center items-center flex cursor-pointer font-black"
						>＞</span
					>
				</div>
				<div class="whitespace-nowrap overflow-scroll pb-2">
					<a href="/projects/post-1" class="inline-block mr-4">
						<img
							class="w-96 aspect-video"
							src="https://images.unsplash.com/photo-1685216779685-1c457bda18d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
						/>
					</a>
					<a href="/projects/post-1" class="inline-block mr-4">
						<img
							class="w-96 aspect-video"
							src="https://images.unsplash.com/photo-1685216779685-1c457bda18d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
						/>
					</a>
					<a href="/projects/post-1" class="inline-block mr-4">
						<img
							class="w-96 aspect-video"
							src="https://images.unsplash.com/photo-1685216779685-1c457bda18d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
						/>
					</a>
					<a href="/projects/post-1" class="inline-block mr-4">
						<img
							class="w-96 aspect-video"
							src="https://images.unsplash.com/photo-1685216779685-1c457bda18d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
						/>
					</a>
					<a href="/projects/post-1" class="inline-block mr-4">
						<img
							class="w-96 aspect-video"
							src="https://images.unsplash.com/photo-1685216779685-1c457bda18d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
						/>
					</a>
				</div>
			</div>
		</section>
		<section class="grid grid-cols-8 border-black py-12">
			<div class="col-span-2 text-right">
				<h2 class="text-2xl md:text-5xl">NOTES</h2>
			</div>
			<ul class="col-span-6 ml-8 flex flex-col gap-2 mt-4">
				{
					notes.map((note) => (
						<li class="underline">
							<a href={`/notes/${note.frontmatter.slug}`}>
								{note.frontmatter.title}
							</a>
						</li>
					))
				}
				<!-- <li class="underline"><a href="/notes/post-1">Post 1</a></li>
				<li class="underline"><a href="/notes/post-1">Post 1</a></li>
				<li class="underline"><a href="/notes/post-1">Post 1</a></li>
				<li class="underline"><a href="/notes/post-1">Post 1</a></li>
				<li class="underline"><a href="/notes/post-1">Post 1</a></li>
				<li class="underline"><a href="/notes/post-1">Post 1</a></li>
				<li class="underline"><a href="/notes/post-1">Post 1</a></li> -->
			</ul>
		</section>
	</main>
	<footer class="h-full relative border-t border-black py-12">
		<div
			class="grid grid-cols-8 px-2 md:px-8 w-full absolute pointer-events-none top-0 left-0 h-full"
		>
			<div
				class="col-span-8 md:col-span-2 text-right pr-4 border-r border-r-black pt-12"
			>
				Jason-Kyle De Lara &copy; {new Date().getFullYear()}
			</div>
			<div class="hidden md:block md:col-span-6"></div>
		</div>
	</footer>
</Layout>
