---
import ListLayout from "../layouts/ListLayout.astro";
const projects = await Astro.glob("../pages/projects/*.md");
projects.sort(
	// @ts-ignore
	(a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
---

<ListLayout title="All Projects">
	<ul class="flex flex-col gap-2 underline">
		{
			projects.map((project) => (
				<li>
					<a href={project.url}>{project.frontmatter.title}</a>
				</li>
			))
		}
	</ul>
</ListLayout>
