---
import ListLayout from "../layouts/ListLayout.astro";
const projects = await Astro.glob("../pages/projects/*.md");
projects.sort(
	// @ts-ignore
	(a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
---

<ListLayout title="All Projects">
	<div
		class="grid lg:grid-cols-3 sm:grid-cols-2 gap-4 underline place-content-center justify-center"
	>
		{
			projects.map((project) => (
				<a href={project.url}>
					<img
						src={project.frontmatter.image}
						alt={project.frontmatter.title}
						class=" aspect-video object-cover"
					/>
					<span>{project.frontmatter.title}</span>
				</a>
			))
		}
	</div>
</ListLayout>
