---
---

<ul class="w-fit pl-4 md:pl-8 flex flex-col gap-4 justify-center">
	<li class="flex flex-col">
		<span class="font-semibold">Web Developer</span><span>ICP DAS USA</span>
	</li>
	<li class="flex flex-col">
		<span class="font-semibold">Front End Web Developer Intern</span><span
			>RoyaltyBusayo</span
		>
	</li>
	<li class="flex flex-col">
		<span class="font-semibold"
			>Bachelors of Science - Computer Science</span
		><span>University of Nevada Las Vegas</span>
	</li>
</ul>
