<footer class="h-full relative py-12 border-t border-black">
	<div
		class="grid grid-cols-11 px-2 md:px-8 w-full absolute pointer-events-none top-0 left-0 h-full"
	>
		<div class="block md:hidden col-span-3"></div>
		<div
			class="col-span-8 md:col-span-3 text-right text-xs md:text-normal pr-12 pt-12"
		>
			Jason-Kyle De Lara &copy; {new Date().getFullYear()}
		</div>
	</div>
</footer>
