---
const projects = await Astro.glob("../pages/projects/*.md");
const featuredProjects = projects.filter(
	(project) => project.frontmatter.feature
);
featuredProjects.sort(
	// @ts-ignore
	(a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
---

<div class="min-w-[27vw] h-32 md:h-96 text-right">
	<h2 class="text-2xl mt-4 mr-4 md:text-5xl md:mt-8 md:mr-8">WORK</h2>
</div>
<div
	id="scrollable-element"
	class="relative w-full flex gap-6 overflow-x-auto py-4"
>
	<div class="snap-center shrink-0">
		<div class="shrink-0 w-4 sm:w-1/2"></div>
	</div>
	{
		featuredProjects.map((project) => {
			return (
				<a href={project.url} class="snap-center shrink-0 relative">
					<div class="absolute top-0 opacity-100 hover:opacity-0 transition-all rounded-xl  bg-neutral-400/50 bg-blend-lighten h-full w-full grid place-content-center  ">
						<h2 class="text-white drop-shadow-md font-bold text-xl md:text-3xl">
							{project.frontmatter.title}
						</h2>
					</div>
					<img
						class="shrink-0 object-cover aspect-video h-32 md:h-96 rounded-xl border border-neutral-400"
						src={project.frontmatter.image}
					/>
				</a>
			);
		})
	}
	<div class="snap-center shrink-0">
		<div class="shrink-0 w-4 sm:w-1/2"></div>
	</div>
</div>

<script>
	let scrollableElement = document.getElementById("scrollable-element")!;
	/**
	 * Transfer vertical to horizontal scroll on projects div
	 */
	scrollableElement.addEventListener("wheel", (ev) => {
		ev.preventDefault(); // stop scrolling in another direction
		scrollableElement.scrollLeft += ev.deltaY + ev.deltaX;
	});

	let mouseDown = false;
	let startX = 0;
	let scrollLeft = 0;
	const startDrag = (e: MouseEvent) => {
		mouseDown = true;
		startX = e.pageX - scrollableElement.offsetLeft;
		scrollLeft = scrollableElement.scrollLeft;
	};
	const stopDrag = (e: MouseEvent) => {
		mouseDown = false;
	};
	scrollableElement.addEventListener("mousemove", (e) => {
		e.preventDefault();
		if (!mouseDown) {
			return;
		}
		const x = e.pageX - scrollableElement.offsetLeft;
		const walk = x - startX; //scroll-fast
		scrollableElement.scrollLeft = scrollLeft - walk;
	});
	scrollableElement.addEventListener("mousedown", startDrag, false);
	scrollableElement.addEventListener("mouseup", stopDrag, false);
	scrollableElement.addEventListener("mouseleave", stopDrag, false);
</script>
