---
import Footer from "../components/Footer.astro";
import Heading from "../components/Heading.astro";

const { title, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="w-full">
			<article
				class="py-8 md:py-24 md:w-2/3 h-full mx-auto border-l border-r border-black"
			>
				<Heading />
				<h1 class="p-4 mb-4 text-5xl">{title}</h1>
				<div class="px-4">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");
	* {
		font-family: "JetBrains Mono", monospace;
	}
</style>
